.input_entrada {
    width: 99%;
    height: 3rem;
    margin-top: 2rem ;
    --background: #393939;
    --color: #F87983 ;
    --highlight-color-focused: #F87983;
}

.card_entrada {
    width: 95%;
    min-height: 11rem;
    max-height: 14rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
    color: #f87984bb;
}

.btn_form_plantilla {
    width: 48%;
    min-height: 3.5rem;
    margin-top: 0.5rem;
    --border-color:  #A28BF7; 
    --color:#A28BF7;
}

.div-acompaniante{
    background-color: #120a31;
    padding: 2rem;
    border: #A28BF7 0.1rem solid;
    border-radius: 2.5%;
    width: 95%;
    margin-left: 0.5rem;
}

.input_entrada_acompaniante {
    width: 99%;
    height: 3rem;
    margin-top: 2rem ;
    --background: #120a31;
    --color: #A28BF7 ;
    --highlight-color-focused: #A28BF7;
}