.col-info{
    font-size: smaller;
    text-align: start;
}

ion-item{
    background-color: #292929;
    color: #A28BF7;;
}

#card-cliente{
    width: 95%;
    min-height: 15rem;
    max-height: 20rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
    text-align: center;
}

#btn_eliminar{
    --border-color:transparent;
}

