.input_entrada {
    width: 99%;
    height: 3rem;
    --background: #393939;
    --color: #F87983 ;
    --highlight-color-focused: #F87983;
}

.card_login {
    width: 95%;
    margin-top: 2rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
}

.btn_form_plantilla {
    width: 99%;
    min-height: 3.5rem;
    margin-top: 0.5rem;
    --border-color:  #A28BF7; 
    --color:#A28BF7;
}

#check_recordarme{
    float: left;
    --border-radius:1rem;
    --border-color:#A28BF7;
    --border-color-checked:#F87983;
    --checkbox-background:transparent;
    --checkbox-background-checked:transparent;
    --checkmark-color:#F87983;
    --size:1.4rem;
}

