<!-- <ion-menu side="end" contentId="menu-usuario">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

 -->

<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding" style="text-align: center;">
    <div class="row">
        <div class="col-sm-4">
          <ion-button  class="btn_menu" fill="outline" size="medium" (click)="Perfil()" ><img class="icon_btn_menu" src="../../../assets/imagenes/person-circle.svg"></ion-button>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ion-button *ngIf="usuario.organizador || usuario.admin" class="btn_menu" fill="outline" size="medium" (click)="AgregarUsuarios()" ><img  class="icon_btn_menu" src="../../../assets/imagenes/person-fill-add.svg"></ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ion-button *ngIf="usuario.organizador || usuario.admin" class="btn_menu" fill="outline" size="medium" (click)="Usuarios()" ><img  class="icon_btn_menu" src="../../../assets/imagenes/person-lines-fill.svg"></ion-button>
      </div>
    </div>
   <div class="row">
      <div class="col-sm-4">
        <ion-button *ngIf="usuario.organizador || usuario.admin" class="btn_menu" fill="outline" size="medium" (click)="RendimietnoEventos()" ><img  class="icon_btn_menu" src="../../../assets/imagenes/bar-chart-line-fill.svg"></ion-button>
      </div>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header >
    <ion-toolbar>
      <ion-button *ngIf="!creando_evento && !modificando_evento && !eliminar_evento" id="btn_volver" fill="outline" size="medium" (click)="Login()"><img src="../../../assets/imagenes/arrow-bar-left.svg"></ion-button>
      <ion-title *ngIf="!creando_evento  && !modificando_evento && !eliminar_evento" style="text-align: center; color: #F87983; font-size: 1.5rem; font-weight: bolder; margin-top: 0.5rem;">Mis Eventos</ion-title>
      <ion-title *ngIf="creando_evento || modificando_evento || eliminar_evento" style="text-align: center; color: #F87983; font-size: 1.5rem; font-weight: bolder;text-align: center; margin-top: 0.5rem;">Mis Eventos</ion-title>
      <ion-buttons *ngIf="!creando_evento && !modificando_evento && !eliminar_evento" slot="end" style="color: #F87983;">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>    
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="loading" class="custom-spinner">
    <h1 class="spinnerh1"></h1>
    <img src="../../../assets/imagenes/icon_rounded.png" alt="Custom Spinner" />
  </div>
  <ion-content [fullscreen]="true">
  
      <div class="container text-center">
        <div class="row justify-content-md-center row-cosl-1"> 
    
          <!-- Valida que no se este creando un evento-->
          <div *ngIf="!creando_evento && !modificando_evento && !eliminar_evento">
    
            <!-- Card (si hay evento) -->
             <div *ngIf="eventos.length > 0">
               <div *ngFor="let evento of eventos"  class="col-md-auto">
         
                 <ion-card class="card_eventos" *ngIf="!FechaPasadaEvento(evento.fecha)" >
                  <div (click)="SelecEvento(evento)">
                    <ion-card-header>
                      <ion-card-title style="font-weight: bold; font-size: 1.5rem; color: #F87983;"> {{evento.nombre}}</ion-card-title>
                      <ion-card-subtitle style="font-weight: bold; font-size: medium; color:#f87984bb;">{{evento.fecha}} a las {{evento.hora}}hs</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content >
                      {{timeUntilFutureDate(evento.fecha)}}
                    </ion-card-content>
                  </div>
                  <ion-button *ngIf="usuario.admin" fill="outline" id="btn_editar" (click)="ModificarEventoSelect(evento)"><img width="20" src="../../../assets/imagenes/pen.svg" ></ion-button>
                 </ion-card>

                 <ion-card class="card_eventos_pasados" *ngIf="FechaPasadaEvento(evento.fecha)" >
                  <div (click)="SelecEvento(evento)">
                    <ion-card-header>
                      <ion-card-title style="font-weight: bold; font-size: 1.5rem; color: #aa2d37;"> {{evento.nombre}}</ion-card-title>
                      <ion-card-subtitle style="font-weight: bold; font-size: medium; color:#96232c;">{{evento.fecha}} a las {{evento.hora}}hs</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content style="font-weight: bold; font-size: 1rem; color: #96232c;">
                      EVENTO FINALIZADO
                    </ion-card-content>
                  </div>
                  <ion-button *ngIf="FechaPasadaEvento(evento.fecha) && usuario.admin" fill="outline" id="btn_eliminar" (click)="EliminarEventoSelect(evento)"><img width="20" src="../../../assets/imagenes/trash.svg" ></ion-button>
                 </ion-card>
                
         
               </div>
             </div>
      
            <!-- BOTON AGREGAR EVENTO -->
            <div class="col-md-auto">
      
              <ion-button *ngIf="usuario.admin" id="btn_crear_evento" fill="outline" (click)="CrearEvento()"> <img  src="../../../assets/imagenes/plus-lg.svg">   </ion-button>
      
            </div>
            <div class="col-md-auto">
      
              <ion-button *ngIf="usuario.admin" id="btn_consejo_evento" fill="outline">
                <li style="list-style: none;">
                  <ul>Se recomienda eliminar eventos de 3 o más meses, para liberar espacio.</ul>
                  <ul>Las estadísticas de los eventos eliminados se conservan.</ul>
                </li>
              </ion-button>
      
            </div>
    
          </div>
    
          <!-- Si Se crea evento-->
           <div *ngIf="creando_evento">
    
            <div class="col-md-auto" id="col_creacion_evento">
            
    
              <ion-input
               class="input_evento" 
               name="nombre" 
               label="Nombre" 
               label-placement="floating" 
               fill="solid" 
               [minlength]="5"
               [maxlength]="30"
               [counter]="true"
               placeholder="Ingrese nombre del evento"
               type="name"
               required="true"
               [errorText]="error_nombre"
               [(ngModel)]="nombre_evento"
               ></ion-input>
    
              <ion-input 
              class="input_evento" 
              name="fecha" 
              label="Fecha" 
              label-placement="floating" 
              fill="solid" 
              placeholder="Ingrese fecha"
              type="date"
              required="true"
              [(ngModel)]="fecha_evento"
              ></ion-input>
    
              <ion-input 
              class="input_evento" 
              name="hora" 
              label="Hora" 
              label-placement="floating" 
              fill="solid" 
              placeholder="Ingrese Hora"
              type="time"
              required="true"
              [(ngModel)]="hora_evento"
              ></ion-input>
      
              <br>
    
              <ion-button class="btn_evento" fill="outline" style="--border-color:  #A28BF7; --color:#A28BF7;"  (click)="AgregarEvento()" ><img src="../../../assets/imagenes/plus-circle.svg"></ion-button>
              <ion-button class="btn_evento" fill="outline" style="--border-color:  #ee3444; --color:#ee3444;"  (click)="Volver()"><img src="../../../assets/imagenes/ban.svg"></ion-button>
      
            </div>
    
           </div>
  
           <!-- Si se Modifica evento-->
           <div *ngIf="modificando_evento">
  
            <div class="col-md-auto" id="col_creacion_evento">
            
    
              <ion-input
               class="input_evento" 
               name="nombre" 
               label="Nombre" 
               label-placement="floating" 
               fill="solid" 
               [minlength]="5"
               [maxlength]="30"
               [counter]="true"
               placeholder="Ingrese nombre del evento"
               type="name"
               required="true"
               [errorText]="error_nombre"
               [(ngModel)]="nombre_evento"
               ></ion-input>
    
              <ion-input 
              class="input_evento" 
              name="fecha" 
              label="Fecha" 
              label-placement="floating" 
              fill="solid" 
              placeholder="Ingrese fecha"
              type="date"
              required="true"
              [(ngModel)]="fecha_evento"
              ></ion-input>
    
              <ion-input 
              class="input_evento" 
              name="hora" 
              label="Hora" 
              label-placement="floating" 
              fill="solid" 
              placeholder="Ingrese Hora"
              type="time"
              required="true"
              [(ngModel)]="hora_evento"
              ></ion-input>
      
              <br>
    
              <ion-button class="btn_evento" fill="outline" style="--border-color:  #A28BF7; --color:#A28BF7;"  (click)="ModificarEvento()" ><img width="25" src="../../../assets/imagenes/pen.svg"></ion-button>
              <ion-button class="btn_evento" fill="outline" style="--border-color:  #ee3444; --color:#ee3444;"  (click)="Volver()"><img src="../../../assets/imagenes/ban.svg"></ion-button>
      
            </div>
  
           </div>

           <!-- Se Elimina Evento -->
           
           <div *ngIf="eliminar_evento">
         
            <ion-card class="card_evento_eliminar" >
               <ion-card-header>
                 <ion-card-title style="font-weight: bold; font-size: 1.5rem; color: #F87983;"> {{evento_select.nombre}}</ion-card-title>
                 <ion-card-subtitle style="font-weight: bold; font-size: medium; color:#f87984bb;">{{evento_select.fecha}} a las {{evento_select.hora}}hs</ion-card-subtitle>
               </ion-card-header>
             
               <ion-card-content >
                Este evento se eliminará junto a todas sus entradas, la información básica del evento no se perderá.
               </ion-card-content>
               
               <ion-button (click)="EliminarEvento()"  fill="outline" style="--border-color:  #ee3444; --color:#ee3444; width: 10rem; height: 3rem;"  >Eliminar</ion-button>
               <ion-button (click)="Volver()" fill="outline" style="--border-color:  #A28BF7; --color:#A28BF7; width: 10rem; height: 3rem;"   >Cancelar</ion-button>
       
            </ion-card>
           
    
          </div>

        </div>
      </div>
  </ion-content>
</div>


