
#btn_crear_evento {
    width: 95%;
    height: 10rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    --border-color:#F87983;
    --color:#F87983;
}

#btn_consejo_evento{
    width: 95%;
    height: 8rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    --border-color:#4d4d4d;
    --color:#4d4d4d;
    --border-style:dotted;
}

.card_eventos {
    width: 95%;
    height: 11rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
    color: #f87984bb;
}

.card_eventos_pasados{
    width: 95%;
    height: 11rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
    color: #f87984bb;
    border: solid 0.1rem #96232c;
}

.card_evento_eliminar{
    width: 95%;
    height: 13rem;
    margin-top: 0.5rem;
    box-shadow: 0px 26px 63px -8px rgba(0,0,0,0.67);
    background-color: #292929;
    color: #f87984bb;
}

#col_creacion_evento{
    padding: 1.5rem;
}

.input_evento {
    width: 99%;
    height: 5rem;
    margin-top: 2rem ;
    --background: #292929;
    --color: #F87983 ;
    --highlight-color-focused: #F87983;
}

.btn_evento {
    width: 99%;
    min-height: 4rem;
    margin-top: 0.5rem;
}

#btn_volver{
    --border-color:  transparent; 
    --color:#F87983;
    --border-width: 0rem;
    float: left;
    height: 3rem;
}

#btn_editar{
    --border-color:transparent;
    float: right;
    margin-bottom: 0.5rem;
    margin-right:0.5rem ;
}

#btn_eliminar{
    --border-color:transparent;
    float: right;
    margin-bottom: 0.5rem;
    margin-right:0.5rem ;
}

ion-item{
    background-color: transparent;
}

.btn_menu{
    --border-color:  transparent; 
    --border-width: 0rem;
}

.icon_btn_menu{
    min-width: 3rem;
    max-width: 10rem;
}